// layout.jade
//
// @description
// @author Fantasy <fantasyshao@icloud.com>
// @created 2014-11-28
// @update 2014-11-28
//

doctype html
html
  head
    title= title
    link
  body
    block content
