doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/manage.css')
  body
    // Navbar
    header.navbar.navbar-fixed-top.navbar-inverse(role='navigation')
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='/manage') Eat Together Dashboard
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#') 返回首页
          li
            a(href='/logout') 登出

    div.container-fluid
      div.row
        div.col-sm-3.col-md-2.sidebar
          ul.nav.nav-sidebar
            li.active
              a(href='#overview') 概览
            li
              a(href='#addShop') 添加店铺
            li
              a(href='#addFood') 添加外卖
            li
              a(href='#allShop') 全部店铺
            li
              a(href='#allFood') 全部外卖
        div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          h1.page-header Dashboard
          h2.sub-header#overview 概览

          h2.sub-header#addShop 添加店铺
          form.form-inline(role='form')
            input.form-control#shopName(placeholder='名称', type='text')
            input.form-control#shopTel(placeholder='电话', type='tel')
            input.form-control#shopAddress(placeholder='地址', type='text')
            button.btn.btn-primary#doAddShop 添加

          h2.sub-header#addFood 添加外卖
          form.form-inline(role='form')
            input.form-control(placeholder='名称', type='text')
            select.form-control
              option 俺们村
              option 小食记
            input.form-control(placeholder='价格', type='num')
            button.btn.btn-primary#doAddFood 添加

          h2.sub-header#allShop 全部店铺
          div.table-responsive
            table.table.table-striped
              thead
                tr
                  th #
                  th 名称
                  th 电话
                  th 地址
              tbody
                each shop in shops
                  tr
                    td
                    td=shop.name
                    td=shop.tel
                    td=shop.address

          h2.sub-header#allFood 全部外卖
          div.table-responsive
            table.table.table-striped
              thead
                tr
                  th #
                  th 名称
                  th 店铺
                  th 价格
              tbody

    block content

    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/manage.js')
